.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  .regionmap {
    background-image: url('../images/mapload.png');
    background-repeat: no-repeat;
    background-size: 500px 500px;
    width: 500px;
    height: 500px;
    border: 1px;
    border-style: dotted;
    border-width: 1px;
}